.image-gallery {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media only screen and (min-width: 481px) {
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 769px) {
  .image-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
